#show_hide_password .fa-eye-slash {
	cursor: pointer;
}

img#mlogo {
	max-height: 48px;
}

/** Default Style **/
.w360center {
	width: 100%;
	max-width: 453px;
	margin: 0 auto;
	margin-bottom: 4rem;
}

#myAuth footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #323232;
	color: white;
}

.table-hover tbody tr:hover {
	cursor: pointer;
}

.tbl-action {
	padding: 0!important;
	padding-top: 5px!important;
	padding-right: 5px!important;
}

/** Dashboard Style **/
.bg-light-opacity {
	background-color: #f8f9fa6b!important;
}

.dboardbg {
	background-image: url("../../storage/img/dashboard-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#listRecView .btn-sm, 
#listRecView2 .btn-sm {
	padding: .25rem!important;
}

#myDashB .alert {
	padding-top: 6px;
	padding-bottom: 0;
}

#myDashB .alert-dismissible .close {
	padding: 4px;
}

#myDashB .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	color: inherit;
	font-style: 
}

@media only screen and (max-width: 1280px) {
	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		webkit-overflow-scrolling: touch;
	}	
}

/** Dashboard Style **/

