#show_hide_password .fa-eye-slash, 
#show_hide_password1 .fa-eye-slash, 
#show_hide_password2 .fa-eye-slash {
	cursor: pointer;
}

img#mlogo {
	max-height: 48px;
}

/** Default Style - Start **/
.w360center {
	width: 100%;
	max-width: 468px;
	margin: 0 auto;
	margin-bottom: 4rem;
}

#myAuth footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #323232;
	color: white;
}

.table-hover tbody tr:hover {
	cursor: pointer;
}

.tbl-action {
	padding: 0!important;
	padding-top: 5px!important;
	padding-right: 5px!important;
}

#myAuth .g-signin2 {
	top: 9px;
	left: 18px;
}

#imgogsrc2 {
	margin-left: auto;
	margin-right: auto;
}

#topnotchaer {
	position: fixed;
	bottom: 12px;
	right: 32px;
}

#dash-itemprod .img-thumbnail {
	max-height: 182px;
	margin: 0 auto;
	cursor: pointer;
}

#itemfilenem {
	padding: 0.2rem 0.75rem;
}

#itmvwimgfl2 {
	height: 82vh;
}

#ymModalItemPreview .modal-dialog {
	max-width: max-content;
}

/** Default Style - End **/

@media only screen and (max-height: 690px) {
	.page-wrapper {
		height: 100%!important;
	}
}

